#registration-wrapper {
  .colorful-font-style {
    background: -webkit-linear-gradient(#37c7ea, #7273f2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width: 1600px) {
    #registration-form-wrapper {
      width: 100%;
    }

    #register-picture {
      display: none;
    }
  }
}
