@import "../../../../scss/user-variables";

#add-movie-wrapper {
  h1 {
    color: $headingTagBlueColor;
  }

  .form-group {
    margin-top: 1.1rem;
  }

  .react-tag-input {
    border: 1px solid #7a839e;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
  }

  .react-tag-input__tag {
    font-size: large;
  }
}
