@import "../../../../scss/user-variables";

#add-movie-wrapper {
  h1 {
    color: $headingTagBlueColor;
  }

  .form-group {
    margin-top: 1.1rem;
  }

  .without-am-pm::-webkit-datetime-edit-ampm-field {
    display: none;
  }

  input[type="time"].without-am-pm::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
  }

  .react-tag-input__tag {
    font-size: large;
  }
}
