#login-wrapper {
  .colorful-font-style {
    background: -webkit-linear-gradient(#37c7ea, #7273f2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #content-wrapper {
    border: 5px solid #8080802e;
    border-radius: 25px;
  }
}
